@model GezondOpReis.ViewModels.GebruikerLoginViewModel

@{
    ViewData["Title"] = "Aanmelden";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<div class="d-flex justify-content-center">
    <div class="frame">
        <div>
            <section>
                <form id="account" method="post">
                    <br />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-floating">
                        <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
                        <label asp-for="Email" class="form-label">E-mail</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <br />

                    <div class="form-floating">
                        <input asp-for="Password" type="password" class="form-control" autocomplete="current-password" aria-required="true" />
                        <label asp-for="Password" class="form-label">Wachtwoord</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <br />
                    <div>
                        <button id="login-submit" type="submit" class="purpleButton">Aanmelden</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
