@model GezondOpReis.ViewModels.GebruikerEditViewModel

@{
    ViewData["Title"] = "Bewerk account";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-md-6">
        <div class="card shadow-lg">
            <div class="card-header bg-primary text-white text-center">
                <h2>Bewerk account</h2>
            </div>
            <div class="card-body p-4">
                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="hidden" asp-for="Id" />

                    <div class="form-floating mb-3">
                        <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="E-mail" />
                        <label asp-for="Email" class="form-label">E-mail</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Naam" class="form-control" autocomplete="name" aria-required="true" placeholder="Naam" />
                        <label asp-for="Naam" class="form-label">Naam</label>
                        <span asp-validation-for="Naam" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Voornaam" class="form-control" autocomplete="given-name" aria-required="true" placeholder="Voornaam" />
                        <label asp-for="Voornaam" class="form-label">Voornaam</label>
                        <span asp-validation-for="Voornaam" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Straat" class="form-control" placeholder="Straat" />
                        <label asp-for="Straat" class="form-label">Straat</label>
                        <span asp-validation-for="Straat" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Huisnummer" class="form-control" placeholder="Huisnummer" />
                        <label asp-for="Huisnummer" class="form-label">Huisnummer</label>
                        <span asp-validation-for="Huisnummer" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Gemeente" class="form-control" placeholder="Gemeente" />
                        <label asp-for="Gemeente" class="form-label">Gemeente</label>
                        <span asp-validation-for="Gemeente" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Postcode" class="form-control" placeholder="Postcode" />
                        <label asp-for="Postcode" class="form-label">Postcode</label>
                        <span asp-validation-for="Postcode" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="GeboorteDatum" class="form-control" type="date" placeholder="Geboortedatum" />
                        <label asp-for="GeboorteDatum" class="form-label">Geboortedatum</label>
                        <span asp-validation-for="GeboorteDatum" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Huisdokter" class="form-control" placeholder="Huisdokter" />
                        <label asp-for="Huisdokter" class="form-label">Huisdokter</label>
                        <span asp-validation-for="Huisdokter" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="ContactNummer" class="form-control" placeholder="Contactnummer" />
                        <label asp-for="ContactNummer" class="form-label">Contactnummer</label>
                        <span asp-validation-for="ContactNummer" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="TelefoonNummer" class="form-control" placeholder="Telefoonnummer" />
                        <label asp-for="TelefoonNummer" class="form-label">Telefoonnummer</label>
                        <span asp-validation-for="TelefoonNummer" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="RekeningNummer" class="form-control" placeholder="Rekeningnummer" />
                        <label asp-for="RekeningNummer" class="form-label">Rekeningnummer</label>
                        <span asp-validation-for="RekeningNummer" class="text-danger"></span>
                    </div>

                    
                    @if (!Model.Email.Equals("admin@gmail.com"))
                    {
                        <div class="form-floating mb-3">
                            <select asp-for="SelectedRole" asp-items="Model.Roles" class="form-select" aria-required="true" onchange="toggleHoofdMonitorCheckbox()">
                                <!-- No default option -->
                            </select>
                            <label asp-for="SelectedRole" class="form-label">Rol</label>
                            <span asp-validation-for="SelectedRole" class="text-danger"></span>
                        </div>

                        

                    <div class="form-check mb-3">
                        <input asp-for="IsActief" class="form-check-input" type="checkbox" />
                        <label asp-for="IsActief" class="form-check-label">Actief</label>
                    </div>
                    }

                    <div class="d-grid gap-2">
                        <button id="register-submit" type="submit" class="btn btn-primary">Wijzig info</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function toggleHoofdMonitorCheckbox() {
            var selectedRole = document.getElementById('@Html.IdFor(m => m.SelectedRole)').value;
            var hoofdMonitorCheckbox = document.getElementById('hoofdMonitorCheckbox');

            if (selectedRole === 'Monitor') {
                hoofdMonitorCheckbox.style.display = '';
            } else {
                hoofdMonitorCheckbox.style.display = 'none';
            }
        }

        // Initialize the checkbox visibility on page load
        document.addEventListener('DOMContentLoaded', function () {
            toggleHoofdMonitorCheckbox();
        });
    </script>
}