@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model BestemmingEditViewModel

@{
    ViewData["Title"] = "Bewerk bestemming";
}

<h4>Bewerk @Html.DisplayFor(modelItem => modelItem.Naam)</h4>
<form asp-action="Edit" onsubmit="return ageValidation()">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Code" class="control-label"></label>
        <input asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Naam" class="control-label"></label>
        <input asp-for="Naam" class="form-control" />
        <span asp-validation-for="Naam" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Beschrijving" class="control-label"></label>
        <input asp-for="Beschrijving" class="form-control" />
        <span asp-validation-for="Beschrijving" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MinLeeftijd" class="control-label"></label>
        <input asp-for="MinLeeftijd" class="form-control" id="minLeeftijd" />
        <span asp-validation-for="MinLeeftijd" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MaxLeeftijd" class="control-label"></label>
        <input asp-for="MaxLeeftijd" class="form-control" id="maxLeeftijd" />
        <span asp-validation-for="MaxLeeftijd" class="text-danger"></span>
    </div>
    <div class="form-group mt-2">
        <input type="submit" value="Bestemming wijzigen" class="btn btn-success" asp-action="Edit" />
        <a asp-action="Index" class="btn btn-primary">Terug naar overzicht</a> <!--Ook mogelijk met <input/> tag-->
    </div>
</form>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        const ageValidation = () => {
            let minLeeftijd = document.querySelector("#minLeeftijd")
            let maxLeeftijd = document.querySelector("#maxLeeftijd")

            if (parseInt(minLeeftijd.value) > parseInt(maxLeeftijd.value)) {
                alert("De minimum leeftijd kan niet groter zijn dan de maximum leeftijd!")
                return false;
            }

            return true;
        }
    </script>
}
