@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model ActiviteitViewModel

<h4>Gebruik onderstaand formulier om een nieuwe activiteit aan te maken</h4>
<div>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Naam" class="control-label"></label>
            <input asp-for="Naam" class="form-control" />
            <span asp-validation-for="Naam" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Beschrijving" class="control-label"></label>
            <input asp-for="Beschrijving" class="form-control" />
            <span asp-validation-for="Beschrijving" class="text-danger"></span>
        </div>

        @* <div class="form-group">
            <label asp-for="Foto" class="control-label"></label>
            <input asp-for="Foto" class="form-control" />
            <span asp-validation-for="Beschrijving" class="text-danger"></span>
        </div> *@
       
        <div class="form-group">
            <input type="submit" value="Activiteit aanmaken" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-primary">Terug naar overzicht</a>
        </div>
    </form>
</div>
   

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
